html
    head
        title #{title}
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
        style().
            .row {
                width: fit-content;
                margin: auto;
                padding: 8px 0;
            }

    body
        div(class="container" style="")
            div(class="row" style="width: fit-content; margin: auto")
                input(id="query")
                button(id="search-button") Search
    script().

        document.getElementById("search-button").addEventListener("click", search);

        function search() {
            let input = document.getElementById("query");
            let value = input.value;
            location.href = `/search?query=${value}`;
        }
